<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,400;0,600;1,300;1,500&display=swap"
        rel="stylesheet">
    <link href="./css/styles.css" rel="stylesheet">
    <title>Best Fires </title>

</head>

<body>

    <div class=container>
        <nav class="nav-main">
            <a href="#"></a><img src="./img/logo.jpg" class="logo"></a>
            <a kref="#" class="hamburguer-button">
                <i class=" fas fa-bars "> </i>
            </a>
            <ul class="nav-menu-left">
                <li>
                    <a href="/">Inicio</a>
                </li>
                <li>
                    <a href="/productDetail">Productos</a>
                </li>
                <li>
                    <a href="/contacto">Contacto</a>
                </li>
            </ul>
            <ul class="carrito">
                <li>
                    <a href="/carrito">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </li>
            </ul>
            <ul class="nav-menu-right">
                <li>
                    <a href="/login"> <i class="fas fa-sign-in-alt"></i>Iniciar Sesión </a>
                </li>
                <li>
                    <a href="/views/register.ejs"><i class="far fa-address-card"></i>Registrate </a>
                </li>

            </ul>
        </nav>


        

        <article class="form">
            <div class="main-form">
                <h2 class="tit-form">Registrate</h2>

            <h3 class="subtit-form">Completa tus datos</h3>

            <form action="#" method="get" class="registro-form"></form>

            <div>
                <input type="text" required placeholder="Nombre" name="Nombre">
                <input type="text" required placeholder="Apellido" name="apellido">
                
            </div>
            
            <div>
                <input type="text" required placeholder="Nombre de usuario" name="nombre de usuario">
                <input type="text" required placeholder="Correo electronico" name="email">
                

            </div>

            <div>
                <input type="password" required placeholder="Contraseña" name="contraseña">
                <input type="password" required placeholder="Confirmar contraseña" name="contraseña">
                
            </div>

            <div class="button-register">
                <button type="submit"><a href="/">Enviar</a></button>
                

            </div>

           </div>
        </article>

    </div>
    <footer>
        <li>Copyright © 2021 BestFire</li>
        <div class="pie">
            <a href="#">
                <li>Información de la compañía</li>
            </a>
            <li>Contáctenos</li>
            <a href="#">
                <li>info Legal y Privacidad</li>
            </a>
        </div>
        <div class="social-list">
            <a href="#">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="#">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="#">
                <i class="fab fa-whatsapp"></i>
            </a>
        </div>

    </footer>

</body>

</html>