<!DOCTYPE html>
<html lang="es">

<%- include("partials/head") -%>

    <body>
        <div class=container>
            <%- include("partials/header") -%>

                <article class="changuito">

                    <h2 class="tit">Carrito (2)</h2>

                    <div class="element">
                        <div class="produc-compra">
                            <img src="./img/ofer-mich.webp" alt="No se encontro img">
                            <p class="name">Neumático Michelin Primacy 4 225/50 R17</p>
                        </div>

                        <div class="select-cant">
                            <button class="cant-men" type="submit"><a href="#">-</a></button>
                            <input class="cant-pro" type="text" name="cantidad-carrito">
                            <button class="cant-mas" type="submit"><a href="#">+</a></button>

                        </div>
                        <div class="boxxx">
                            <h1 class="precio-p">$49,634</h1>

                            <button class="button-delete" type="reset"><a href="/">Eliminar</a></button>


                        </div>
                    </div>
                    <div class="element">
                        <div class="produc-compra">
                            <img src="./img/ofer-pir.webp" alt="No se encontro img">
                            <p class="name">Neumático Pirelli Scorpion 205/65 R15</p>
                        </div>

                        <div class="select-cant">
                            <button class="cant-men" type="submit"><a href="#">-</a></button>
                            <input class="cant-pro" type="text" name="cantidad-carrito">
                            <button class="cant-mas" type="submit"><a href="#">+</a></button>

                        </div>
                        <div class="boxxx">
                            <h1 class="precio-p">$9,836</h1>

                            <button class="button-delete" type="reset"><a href="/">Eliminar</a></button>


                        </div>
                    </div>
                </article>

        </div>
        <%- include("partials/footer") -%>

    </body>

</html>