<!DOCTYPE html>
<html lang="es">

<%- include("head") -%>

    <body>
        <div class=container>
            <%- include("header") -%>

                <div class="destacados">
                    <h3>CONTACTOS</h3>
                </div>
                <div class="contacto">
                    <a href="#">
                        <i class="fab fa-facebook">FACEBOOK</i>
                    </a>
                    <a href="#">
                        <i class="fab fa-twitter">TWITTER</i>
                    </a>
                    <a href="#">
                        <i class="fab fa-instagram">INSTAGRAM</i>
                    </a>
                    <a href="#">
                        <i class="fab fa-whatsapp">WHATSAPP</i>
                    </a>
                </div>
        </div>


    </body>

</html>