<!DOCTYPE html>
<html lang="es">

<%- include("partials/head") -%>

    <body>
        <div class=container>
            <%- include("partials/header") -%>
                <hr>
                <main>
                    <div class="big-container">

                        <div class="right-container">
                            <div class="header">
                                <h3>PRODUCTOS</h3>
                            </div>

                            <div class="productos">
                                <% products.forEach(function(product){ %> <!--Recordar que product es cada elemento de la lista-->
                                    <!--productCard-->
                                    <%- include('partials/productCards', {product}) %>
                                    <!--/productCard-->
                                <% }); %>
                               

                            </div>
                </main>
        </div>

        <%- include("partials/footer") -%>

    </body>

</html>