<!DOCTYPE html>
<html lang="es">

<%- include("partials/head") -%>

    <body>
        <div class=container>
            <%- include("partials/header") -%>
                <hr>
                <main>
                    <div class="proDet">
                                <h3>DETALLE DEL PRODUCTO</h3>
                            

                            <div class="productsDetails">

                                <img width="200" height="280" class="imagen" src="./img/ofer-mich.webp">
                                <div class="descrip">
                                    <li>Marca: </li>
                                    <li>Modelo: </li>
                                    <li>Rodado: </li>
                                    <li>Ancho: </li>
                                    <li>Perfil:</li>
                                    <li>Precio:</li>
                                    <li>Descuento</li>
                                </div>
                                <div class="botones">
                                    <a href="#">Comprar</a>
                                    <a href="/editProduc">Editar</a>
                                </div>
                            </div>
                    </div>
                </main>

                
        </div>
        <%- include("partials/footer") -%>

    </body>

</html>