<footer>
    <li>Copyright © 2021 BestFire</li>
    <div class="pie">
        <a href="#">
            <li>Información de la compañía</li>
        </a>
        <li>Contáctenos</li>
        <a href="#">
            <li>Info Legal y Privacidad</li>
        </a>
    </div>
    <div class="social-list">
        <a href="#">
            <i class="fab fa-facebook"></i>
        </a>
        <a href="#">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="#">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="#">
            <i class="fab fa-whatsapp"></i>
        </a>
    </div>

</footer>

