<a href="/productID/<%= product.id %>">
    <article class="box-products">
        <img width="200" height="280" class="imagen" src="../img/<%= product.img %>">
        <ul>
            <div class="juntos">
                <li class="precio">$<%= product.precio %></li>
                <li class="descuentos">15% off</li>
            </div>
            <li class="descripcion"><%= product.marca %> </li>

        </ul>
    </article>
</a>