<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,400;0,600;1,300;1,500&display=swap"
        rel="stylesheet">
    <link href="./css/styles.css" rel="stylesheet">
    <title>Best Fires </title>

</head>

<body>

    <div class=container>
        <nav class="nav-main">
            <a href="#"></a><img src="./img/logo.jpg" class="logo"></a>
            <a kref="#" class="hamburguer-button">
                <i class=" fas fa-bars "> </i>
            </a>
            <ul class="nav-menu-left">
                <li>
                    <a href="/">Inicio</a>
                </li>
                <li>
                    <a href="/productDetail">Productos</a>
                </li>
                <li>
                    <a href="#">Contacto</a>
                </li>
            </ul>
            <ul class="carrito">
                <li>
                    <a href="#">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </li>
            </ul>
            <ul class="nav-menu-right">
                <li>
                    <a href="/login"> <i class="fas fa-sign-in-alt"></i>Iniciar Sesión </a>
                </li>
                <li>
                    <a href="/register"><i class="far fa-address-card"></i>Registrate </a>
                </li>

            </ul>
        </nav>


        

        <article class="changuito">
        
            <h2 class="tit">Carrito (2)</h2>
        
            <div class="element">
                <div class="produc-compra">
                    <img src="./img/ofer-mich.webp" alt="No se encontro img">
                    <p class="name">Neumático Michelin Primacy 4 225/50 R17</p>
                </div>
        
                <div class="select-cant">
                    <button class="cant-men" type="submit"><a href="#">-</a></button>
                    <input class="cant-pro" type="text" name="cantidad-carrito">
                    <button class="cant-mas" type="submit"><a href="#">+</a></button>
        
                </div>
                <div class="boxxx">
                    <h1 class="precio-p">$49,634</h1>
        
                    <button class="button-delete" type="reset"><a href="/">Eliminar</a></button>
        
        
                </div>
            </div>
            <div class="element">
                <div class="produc-compra">
                    <img src="./img/ofer-pir.webp" alt="No se encontro img">
                    <p class="name">Neumático Pirelli Scorpion 205/65 R15</p>
                </div>
        
                <div class="select-cant">
                    <button class="cant-men" type="submit"><a href="#">-</a></button>
                    <input class="cant-pro" type="text" name="cantidad-carrito">
                    <button class="cant-mas" type="submit"><a href="#">+</a></button>
        
                </div>
                <div class="boxxx">
                    <h1 class="precio-p">$49,634</h1>
        
                    <button class="button-delete" type="reset"><a href="/">Eliminar</a></button>
        
        
                </div>
            </div>
        </article>

    </div>
    <footer>
        <li>Copyright © 2021 BestFire</li>
        <div class="pie">
            <a href="#">
                <li>Información de la compañía</li>
            </a>
            <li>Contáctenos</li>
            <a href="#">
                <li>info Legal y Privacidad</li>
            </a>
        </div>
        <div class="social-list">
            <a href="#">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="#">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="#">
                <i class="fab fa-whatsapp"></i>
            </a>
        </div>

    </footer>

</body>

</html>