<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,400;0,600;1,300;1,500&display=swap"
        rel="stylesheet">
    <link href="./css/styles.css" rel="stylesheet">
    <title>Best Fires </title>

</head>

<body>

    <div class=container>
        <nav class="nav-main">
            <a href="#"></a><img src="./img/logo.jpg" class="logo"></a>
            <a kref="#" class="hamburguer-button">
                <i class=" fas fa-bars "> </i>
            </a>
            <ul class="nav-menu-left">
                <li>
                    <a href="/">Inicio</a>
                </li>
                <li>
                    <a href="/productDetail">Productos</a>
                </li>
                <li>
                    <a href="/contacto">Contacto</a>
                </li>
            </ul>
            <ul class="carrito">
                <li>
                    <a href="/carrito">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </li>
            </ul>
            <ul class="nav-menu-right">
                <li>
                    <a href="/login"> <i class="fas fa-sign-in-alt"></i>Iniciar Sesión </a>
                </li>
                <li>
                    <a href="/register"><i class="far fa-address-card"></i>Registrate </a>
                </li>

            </ul>
        </nav>


        <div class="destacados">
            <h3>CONTACTOS</h3>
        </div>
        <div class="contacto">
            <a href="#">
                <i class="fab fa-facebook">FACEBOOK</i>
            </a>
            <a href="#">
                <i class="fab fa-twitter">TWITTER</i>
            </a>
            <a href="#">
                <i class="fab fa-instagram">INSTAGRAM</i>
            </a>
            <a href="#">
                <i class="fab fa-whatsapp">WHATSAPP</i>
            </a>
        </div>
    </div>


</body>

</html>