<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="./css/styles.css" rel="stylesheet">
    <title>Best Fires </title>

</head>

<body>

    <header>
        <div class="main-header-top-bar">
            <a href="#"><img src="./img/logo.jpg" class="logo"></a>
            <nav class="list">
                <ul class="left-navbar">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
                <ul class=carrito>
                    <li><a href="#"> <i class="fas fa-shopping-cart"></i></a></li>
                </ul>
                <ul class="rigth-navbar">
                    <li><a href="#"> <i class="fas fa-sign-in-alt"></i>Iniciar Sesión </a></li>
                    <li><a href="#"><i class="far fa-address-card"></i>Registrate </a></li>

                </ul>
            </nav>
        </div>
    </header>


</body>
<main>
    <img src="./img/banner.jpg" class="banner">

</main>

</html>